body {
  background-color: #008744; /* Новый цвет фона */
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #d62d20;
  background-color: #80ced6; /* Фон для заголовка */
}

p {
  font-size: 18px;
  color: #555;
}

/* Новые стили */
div {
  background-color: #d5f4e6;
  padding: 10px;
  margin: 10px;
}

span {
  background-color: #f18973;
  padding: 3px 5px;
}
