body {
  background-color: #6b3e26;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  transition: background-color 0.5s ease;
}

h1 {
  color: #ffc5d9;
  background-color: #6b3e26;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #ffc5d9;
}

.block {
  background-color: #d5f4e6;
  padding: 20px;
  margin: 20px auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
